/* Main CSS remains the same */

@import url('https://fonts.googleapis.com/css2?family=Baskervville:ital,wght@0,400;1,400&display=swap');

@keyframes popUp {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes moveClouds {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(100vw);
    }
}

body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f5e9d7;
    background-image: url('../../assets/home.PNG');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    overflow-y: auto;
    position: relative;
}

.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    opacity: 0;
    transform: scale(1.5);
    animation: popUp 1s ease-in-out forwards;
}

.logo-container {
    position: absolute;
    top: 20px;
    left: 20px;
}

.logo {
    width: 150px;
    height: auto;
}

.navbar {
    position: absolute;
    top: 35px;
    right: 20px;
}

.navbar a {
    font-family: monospace;
    margin-left: 5px;
    margin-right: 40px;
    font-size: 17px;
    color: #3b4034;
    text-decoration: none;
}

.navbar a:hover {
    color: #a4bdf7;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
    z-index: 2;
}

.title {
    font-family: 'Baskerville', serif;
    font-size: 300px;
    color: #7a826e;
    margin-bottom: 20px;
}

.italicized {
    font-family: 'Baskerville', serif;
    font-style: italic;
    font-size: 300px;
    color: #7a826e;
}

.start-btn {
    z-index: 10;
    position: relative;
    padding: 15px 40px;
    font-size: 1.5rem;
    font-family: monospace;
    background-color: white;
    color: #736d5f;
    border: 1px solid #736d5f;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, border-color 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.start-btn:hover {
    background-color: #a4bdf7;
    border-color: #7a826e;
}

.cloud-container {
    z-index: 1;
}

.clouds {
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url('../../assets/clouds.PNG');
    background-size: cover;
    background-repeat: no-repeat;
    animation: moveClouds 30s linear infinite;
}

@media (min-width: 2000px) {
    .title, .italicized {
        font-size: 500px; 
    }

    .start-btn {
        font-size: 2rem; 
        padding: 20px 50px; 
    }
}

@media (max-width: 600px) {
    .title, .italicized {
        font-size: 100px;
    }

    .start-btn {
        font-size: 1rem;
        padding: 10px 30px;
    }
}
