@import url('https://fonts.googleapis.com/css2?family=Baskervville:ital,wght@0,400;1,400&display=swap');

.plan-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 30px;
  font-family: 'Arial', sans-serif;
  background-color: white;
  height: 100vh;
  position: relative;
}

h1 {
  font-family: 'Baskerville';
  font-size: 32px;
  color:#7a826e;
  margin-bottom: 20px;
}

.greeting-name {
  font-family: monospace;
  color: #abad91;
  font-weight: bold;
  font-style: italic;
  font-size: 35px;
}

p {
  font-family: monospace;
  font-size: 1.5rem;
  color: #7a826e;
  margin: 10px 0;
}

h2 {
  font-family: 'Baskerville', serif;
  font-size: 2rem;
  color: #7a826e;
  margin-top: 40px;
  text-transform: capitalize;
  text-align: center;
}

#restart-btn {
  position: absolute;
  right: 40px;
  bottom: 80px;
  padding: 12px 30px;
  font-size: 1.2rem;
  font-family: monospace;
  border: 1px solid #736d5f;
  background-color: white;
  color: #736d5f;
  border-radius: 10px;
  cursor: pointer;
  outline: none;
  transition: background-color 0.5s ease, color 0.5s ease, border-color 0.5s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#restart-btn:hover {
  background-color: #a4bdf7;
  border-color: #7a826e;
}

.username 
{
  font-family: 'Baskerville';
  color: #4c5143
}

.plan-form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  width: 100%;
}

.plan-option {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.plan-label {
  font-family: 'Baskervville', serif;
  font-size: 1.4rem;
  color: #333;
  margin-top: 10px;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .plan-container {
    padding: 20px;
  }

  h1 {
    font-size: 45px;
  }

  h2 {
    font-size: 1.5rem;
  }

  p {
    font-size: 1.2rem;
  }

  #restart-btn {
    padding: 10px 20px;
    font-size: 1rem;
  }

  @media only screen and (min-width: 2000px) {
    .plan-container {
      padding: 20px;
    }
  
    h1 {
      font-size: 45px;
    }
  
    h2 {
      font-size: 1.5rem;
    }
  
    p {
      font-size: 2rem;
    }
  
    #restart-btn {
      padding: 10px 20px;
      font-size: 1rem;
    }
  }
}


