@import url('https://fonts.googleapis.com/css2?family=Baskervville:ital,wght@0,400;1,400&display=swap');


.plan-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 40px;
  font-family: 'Arial', sans-serif;
  background-color: #f0f4ee;
  height: 100vh;
  position: relative;
  overflow: hidden;
}


h1 {
  font-family: 'Baskerville', serif;
  font-size: 2.5rem;
  color: #4c5143;
  margin-bottom: 20px;
}


.greeting-name {
  font-family: 'Baskerville', serif;
  color: #a8bb83;
  font-weight: bold;
  font-size: 2.8rem;
}

p {
  font-family: 'Monospace', serif;
  font-size: 1.5rem;
  color: #7a826e;
  margin: 10px 0;
}


h2 {
  font-family: 'Baskerville', serif;
  font-size: 2rem;
  color: #7a826e;
  margin-top: 30px;
  text-transform: capitalize;
  text-align: center;
}


.planner-icon {
  width: 120px;
  height: auto;
  margin: 20px 0;
  opacity: 0;
  transform: scale(0);
  transition: all 0.5s ease-in-out;
}


.animate-planner {
  animation: plannerAnimation 1.5s ease-in-out forwards;
}


@keyframes plannerAnimation {
  0% {
    opacity: 0;
    transform: scale(0);
  }

  50% {
    opacity: 1;
    transform: scale(1.2);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.fade-in {
  opacity: 1;
  animation: fadeInMessage 1s ease-in-out forwards;
}

@keyframes fadeInMessage {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

#restart-btn {
  position: absolute;
  right: 40px;
  bottom: 80px;
  padding: 12px 30px;
  font-size: 1.2rem;
  font-family: 'Monospace', sans-serif;
  border: 1px solid #4c5143;
  background-color: #f0f4ee;
  color: #4c5143;
  border-radius: 10px;
  cursor: pointer;
  outline: none;
  transition: background-color 0.5s ease, color 0.5s ease, border-color 0.5s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


#restart-btn:hover {
  background-color: #a4bdf7;
  border-color: #7a826e;
}

@media only screen and (max-width: 600px) {
  .plan-container {
    padding: 20px;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  p {
    font-size: 1.2rem;
  }

  #restart-btn {
    padding: 10px 20px;
    font-size: 1rem;
  }
}

@media only screen and (min-width: 2000px) {
  .plan-container {
    padding: 50px;
  }

  h1 {
    font-size: 3.5rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  p {
    font-size: 2rem;
  }

  #restart-btn {
    padding: 15px 40px;
    font-size: 1.5rem;
  }
}