
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Baskervville'; 
  
  background-color: #fafaf4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #7a826e; 
}

.login-page {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  margin: auto;
}

.login-page-container {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);
  padding: 40px;
  text-align: center;
}

.login-page-title h2 {
  font-size: 28px;
  color: #7a826e;
  margin-bottom: 40px;
  font-style: italic;
}

.login-page-inputs {
  text-align: left;
}

.login-page-inputs label {
  font-size: 14px;
  color: #7a826e;
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.login-page-inputs input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  font-size: 16px;
  border: 1px solid #c4c4b3; 
  border-radius: 10px;
  outline: none;
  background-color: #fafafa;
}

.login-page-inputs input:focus {
  border-color: #8c9e74; 
}

button {
  width: 100%;
  padding: 12px;
  margin-top: 20px;
  font-size: 16px;
  background-color: #8c9e74; 
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #707c5a;
}

.login-page-condition {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  font-size: 14px;
  color: #7a826e;
}

.login-page-condition input {
  margin-right: 10px;
}

.login-page-condition p {
  margin: 0;
}

span {
  color: #8c9e74;
  cursor: pointer;
  text-decoration: none;
}

span:hover {
  color: #707c5a;
}

p {
  margin-top: 20px;
  font-size: 14px;
  color: #7a826e;
}


label {
  display: block;
  margin-bottom: 10px;
}

.login-page-inputs input {
  width: 100%;
  padding: 12px;
  border-radius: 5px;
  border: 1px solid #d3d3c3;
  margin-bottom: 15px;
}


